<!-- TODO: replace table with draggable columns -->
<h2>{{kanCtrl.board.title}}</h2>
<table class="table table-responsive">
    <thead>
        <th>{{kanCtrl.board.columns[0].columnName}} ({{kanCtrl.board.columns[0].maxItems}})</th>
        <th>{{kanCtrl.board.columns[1].columnName}} ({{kanCtrl.board.columns[1].maxItems}})</th>
        <th>{{kanCtrl.board.columns[2].columnName}} ({{kanCtrl.board.columns[2].maxItems}})</th>
    </thead>
    <tbody>
    <tr>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
    </tr>
    <tr>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
    </tr>
    <tr>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
    </tr>
    <tr>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
    </tr>
    <tr>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
    </tr>
    </tbody>
</table>
