<!DOCTYPE html>
<html ng-app="kanboard">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Kanboard</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container" ng-controller="KanboardController as kanCtrl">
        <h1>Kanboard</h1>
        <div class="row" ng-if="!kanCtrl.boardCreated">
            <div class="col-sm-5">
                <p>1. Fill in the form below to create custom Kanban board:</p>
                <form novalidate
                      name="newBoard"
                      ng-submit="kanCtrl.addCustomBoard(kanCtrl.boardTitle, kanCtrl.noOfColumns)">
                    <div class="form-group row"
                         ng-class="{'has-error': newBoard.title.$error.required && !newBoard.title.$pristine}">
                        <label class="col-sm-4 col-form-label">Board Title</label>
                        <div class="col-sm-8">
                            <input type="text"
                                   class="col-sm-8 form-control"
                                   placeholder="Board Title"
                                   name="title"
                                   ng-model="kanCtrl.boardTitle"
                                   required>
                            <span class="help-block"
                                  ng-show="newBoard.title.$error.required && !newBoard.title.$pristine">
                                Board title is required.
                            </span>
                        </div>
                    </div>
                    <div class="form-group row"
                         ng-class="{'has-error': newBoard.colCount.$error.required && !newBoard.colCount.$pristine}">
                        <label class="col-sm-4 col-form-label">No of Columns</label>
                        <div class="col-sm-8">
                            <input type="number" min="1" max="12"
                                   class="col-sm-8 form-control"
                                   placeholder="Number of Columns"
                                   name="colCount"
                                   ng-model="kanCtrl.noOfColumns"
                                   required>
                            <span class="help-block"
                                  ng-show="newBoard.colCount.$error.required && !newBoard.colCount.$pristine">
                                At least 1 column is required.
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button type="submit"
                                class="btn btn-primary"
                                ng-disabled="newBoard.$invalid">
                            Create Custom Board
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-sm-2">
                <h4 class="text-center">OR</h4>
            </div>
            <div class="col-sm-5">
                <p>2. Click on the button below to create default board:</p>
                <button class="btn btn-secondary"
                        ng-click="kanCtrl.addDefaultBoard()">
                    Create Default Board
                </button>
            </div>
        </div>
        <div ng-if="kanCtrl.boardCreated">
            <br>
            <board></board>
        </div>
    </div>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>